[Unit]
Description=Atlassian Confluence Service
After=syslog.target network.target
[Service]
User=confluence
Type=forking
WorkingDirectory=/usr/share/atlassian/confluence/bin
ExecStart=/usr/share/atlassian/confluence/bin/start-confluence.sh
ExecStop=/usr/share/atlassian/confluence/bin/stop-confluence.sh
[Install]
WantedBy=multi-user.target
